{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jhingalala hoo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}"/>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <ul class="chat">
                        <li class="left clearfix"><span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&amp;text=U" alt="User Avatar" class="img-circle">
                        </span>
                            <div class="chat-body clearfix">

                                <p>
                                    <a href="{{url_key}}">
                                        Check out these phones!!
                                    </a>
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="panel-footer">
                    <a href="{% url 'chatbot:run_script' %}">
                        Click here to filter specs and get new results!!
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
