{% load staticfiles %}

<html>
  <head>
    <title>A list specially for you</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="{% static 'css/style_list.css' %}" />

   </head>
  <body bgcolor="#fff8dc">
{#  <div style="background-color: turquoise">#}
{#      <h2 align="center">#}
        <div class="panel-primary">
            <div class="panel-heading">
                <p class="h3" align="center">
                  Check out these phones!
                </p>
            </div>
            <h3>
                <a href="{% url 'chatbot:run_script' %}" style="float: right ">Go back to Chatbot</a>
            </h3>
        </div>
{#      </h2>#}
{#  </div>#}
<div class="panel-body">
    {% for  item in item_list %}
{#        <div class="boxed">#}

            <div class="col-sm-4 col-lg-3">
                <div class="box">
                <div class="thumbnail">
                    <div class="caption">
                        <a href="#" class="image featured">
                            <img class="my-img" src="{{item.img}}" alt="{{item.name}}">
                        </a>
                    </div>
                </div>

                  <ul style="color:black">
                        {% for spec in item.spec %}
                          <li>{{spec}}</li>
                        {% endfor %}
                  </ul>
                  <a href="{{item.url}}" class="button">
                      Take me there
                  </a>
                </div>
            </div>
        {% empty %}
            <h3>
                No phones to show :(
            </h3>
    {% endfor %}
</div>
  </body>
</html>


